<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    
   <nav>
            
            <a href="https://www.institutotecnicocordoba.com/" title="redirecciona a la pagina del its">    
                <img src="/img/logo grande.jpg" alt="logo its" width="40px" height="40px" >
                <h2>its</h2>
            </a>  
            <a href="index.html">Home</a>
   </nav>        
    
      <div>
          <a href="#">Nosotros</a>
          <div>
            <a href="#">Quienes somos</a>
            <a href="#">Donde Estamos</a>
            <a href="#">Plan de estudios</a>
            <a href="#">Departamento de genero</a>
            <a href="#">Departamento de egresados </a>
            <a href="#">Estatuto</a>
            <a href="#">Contacto</a>
      </div>
                
      <div>
        <a href="#">Estudiantes</a>
        <div>
            <a href="/templates/centro_de_estudiantes.html">Centro de estudiantes</a>
            <a href="#">Botiquin para ingresantes</a>
            <a href="#">Install Fest</a>
            <a href="#">Horarios de clase</a>
            <a href="#">Boleto educativo</a>
            <a href="#">Becas y beneficios</a>
        </div>
      </div>
      <div>
        <a href="agenda.html">Agenda</a>
        <div>
            <a href="#">Novedades</a>
            <a href="#">Agenda Tech</a>
            <a href="chorifest.html">ChoriFest</a>
            <a href="#">Fechas de examen</a>
            <a href="#">Calendario escolar</a>
        </div>
    </div>
    <div>
        <a href="practicas.html">Practicas</a>
    </div>
</div>

</nav>   
    <hr>
    <div class="container">
        <img src="/img/esudiantes.jpg" alt="imagenes del centro de estudiantes">
    
    <hr>
    
        <p>
            dyjdyjdfyj
            vhyjcfhxhx
            dfazr
            zafrgzsrfg
            zafrgzsrgfzsgr
            zsfgzsfrgzsr
            zfgrzfrgszegfr
        </p>
     
    </div>

    <div class="form">
        <h1>Contactenos</h1>

        <form action="" method="get" >
            <label for="Get-name"style="color: white;" >Nombre</label>
            <input type="text" name="name">
            <input type="submit" value="enviar" >
        </form>

        <form action="">
            <label for="Get-name"style="color: white;" >Apellido</label>
            <input type="text" name="name">
            <input type="submit" value="enviar" >
        </form>

        <form action="">
            <label for="email"style="color: white;" >email</label>
            <input type="email" id="email">
            <input type="submit" value="enviar" >
        </form>

        <form action="">
            <label for="msg" style="color: white;" >Consulta</label>
            <textarea name="user_message" id="msg"></textarea>
            <input type="submit" value="enviar" >
        </form>
        

    </div>
    <section>
            <a href="https://www.google.com/maps/place/Escuela+Juana+Marta+Gonzalez/@-31.4687638,-64.2204301,17z/data=!4m14!1m7!3m6!1s0x9432a3b617746be9:0x80cd468f73e0ac42!2sDefensa+1100,+C%C3%B3rdoba!3b1!8m2!3d-31.4687684!4d-64.2178552!3m5!1s0x9432a3b6144baccd:0x612d7e23e1b2be1!8m2!3d-31.4687794!4d-64.2173507!16s%2Fg%2F11ckvg4sdw" title="ubicacion del its">
               
                <img src="/img/mapa.jpg" alt="pinche de ubicacion" >
                <h2>Defensa 60, Cordoba</h2>
            </a>
    </section>
</body>
</html>